
$ff-main: 'Open Sans', sans-serif;
$ff-task: ' Inter', sans-serif;

$color_white: #ffff;
$color_bg_brown: #FFCA93;
$color_bg_light_brown: #FFECD8;
$color-text : #7F4B13;
$color-hover-text : #FC8F1A;

